.stockSearch {
    padding-top: 15px;
    
    }
.date{
    color:white;
    font-family: 'Share Tech', sans-serif;
    font-size: 75px;
    margin-bottom: 1%;
    margin-top: 3%;
}   
.stockList {
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Share Tech', sans-serif;
}

.list-group-item {
    background-color: transparent;
    border-bottom: 1px solid gray;
}

.list-group {
    border-bottom: 1px solid gray;
}

.saveStock {
float: right;
background-color: gray;
border: white;
}

.searchRes{
    content: center;
    
}
.body{
    background-color: black;
}

.saveStock{
    float: right;
}

.singleStock{
    float: right;
}

h1{
   float: left;
   padding-left: 7%;
   font-size: 22px;
}

.lineSep{

}